<template name="sayhi">
    <div class="container">


        <div class="content-scrollable">
            <div class="wrapper-message">

                <div>



                    <form>
                        <input style="width: 300px;" maxlength="140" type="text" name="twitText" value="Hi to @hi_ISSpace from #Valencia">
                        <input type="submit" class="btn btn-primary" value="Send Twit">
                    </form>


                </div>
            </div>
        </div>
    </div>
</template>