<template name="sayhi">
    <div class="container">


        <div class="content-scrollable">
            <div class="wrapper-message">
                <div class="title-message">Say hi!</div>
                <div>
                    <h1>HI!!</h1>


                    <form>
                        <input style="width: 150px; float:left;" width="300px" maxlength="140" type="text" name="twitText" value="Hi to @hi_ISSpace from #Valencia">
                        <input style="float:left;" type="submit" class="btn btn-primary" value="Send Twit">
                    </form>


                </div>
            </div>
        </div>
    </div>
</template>